body{
	background: pink;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1000px;
	margin: 1rem auto;
	padding: 2rem;
	background: #fff;
	min-height: calc(100vh - 2rem);
	box-sizing: border-box;
}

input{
	border: 1px solid #ccc;
	padding: 0.4rem;
}